*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#value{
    /* 文本空间不足换行 */
    word-break: break-all;
}
/* 媒体查询 */
@media (max-width:500px) {
    #value {
        height: 50vh;
        overflow: auto;
    }
    #divWrapper {
         height: 50vh;
    }
    #tu {
        position: relative;
        top: 0;
        right: 0;
    }
}
